<div class="ai-buttons">
    <button (click)="performImageRecognition()">Image Recognition</button>
    <button (click)="generateText()">Generate Text</button>
    <button (click)="Design()">Design</button>
    <button (click)="Productivity()">Productivity</button>
    <button (click)="Copywrite()"> Copywrite</button>
    <button (click)="SartupTools()">Startup Tools</button>
    <button (click)="ContentCreation()">Content Creation</button>
    <button (click)="LifeAssistant()">Life Assistant</button>
    <button (click)="CodeAssistant()">Code Assistant</button>
    <button (click)="Educational()">Educational</button>
    <button (click)="Resources()">Resources</button>
    <button (click)="VideoEditing()">Video Editing</button>
    <button (click)="VideoGenerator()">Video Generator</button>
    <button (click)="ImageGenerator()">Image Generator</button>
    <button (click)="Automation()">Automation</button>
    <button (click)="Writing()">Writing</button>
    <button (click)="SEO()">SEO</button>
    <button (click)="EmailAssistant()">Email Assistant</button>
    <button (click)="DeveloperTools()">Developer Tools</button>
    <button (click)="FunTools()">Fun Tools</button>
    <button (click)="Finance()">Finance</button>
    <button (click)="Storytelling()">Storytelling</button>
    <button (click)="ChatBots()">ChatBots</button>
    <button (click)="LegalAssistant()">Legal Assistant</button>
    <button (click)="LogoGenerator()">Logo Generator</button>
    <button (click)="Reserach()">Reserach</button>
    <button (click)="Ecommerce()">Ecommerce</button>
    <button (click)="Marketing()">Marketing</button>
    <button (click)="RealEstate()">Real Estate</button>

    <!-- Add more buttons for other AI tasks as needed -->
  </div>
  